# local | firebase
VITE_AUTH_BACKEND=firebase

VITE_API_URL=
VITE_ADMIN_ALLOWED_EMAILS=adminlocal@gmail.com
VITE_ADMIN_ALLOWED_UIDS=CMfAk2XtYCNTafxbw7CaHtSumls1
VITE_ADMIN_FIREBASE_API_KEY=your-firebase-api-key
VITE_ADMIN_FIREBASE_AUTH_DOMAIN=milosystem-firebase-cb1aa.firebaseapp.com
VITE_ADMIN_FIREBASE_PROJECT_ID=milosystem-firebase-cb1aa
VITE_ADMIN_FIREBASE_STORAGE_BUCKET=milosystem-firebase-cb1aa.firebasestorage.app
VITE_ADMIN_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
VITE_ADMIN_FIREBASE_APP_ID=your-firebase-app-id
VITE_ADMIN_FIREBASE_MEASUREMENT_ID=your-measurement-id
VITE_BYPASS_ORGANIZATION_VERIFICATION=true
VITE_SHOW_EQUIPMENT_DELETE=true
