rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isSelf(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    function currentUserDoc() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    function isAdmin() {
      return signedIn()
        && currentUserDoc().data.role == 'admin';
    }

    match /users/{userId} {
      allow create: if isSelf(userId);
      allow read, update: if isSelf(userId) || isAdmin();
      allow delete: if isAdmin();
    }

    match /docTypes/{id} {
      allow read, write: if signedIn();
    }

    match /documents/{id} {
      allow read, write: if signedIn();
    }
  }
}
